<!DOCTYPE html>

<html th:replace="~{base:: parent(~{::#contacts},~{::title})}"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <title data-th-text="${user.name}+' | scm '">>List of Contacts</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body>
    <div id="contacts"  class="p-4 sm:ml-64">
    <div th:if="${user}">
        <div data-th-replace="~{user/sidebar ::sidebar }"> </div>
      </div>
      <div class="sm:pl-64 pt-20 overflow-x-scroll  " style="height: 600px">
        <div class="flex overflow-x-auto items-center  justify-center md:pt-32 flex-col">

          
 
  <form  data-th-object=${searchForm}  data-th-action="@{'/contact/search'}"
  class=" flex justify-start gap-2  relative w-full py-2 ">
<div>
  <select data-th-field="*{field}" name="field" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5   dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected value=" "> select field</option>
    <option value="name">Name</option>
    <option value="number">PhoneNumber</option>
    <option value="email">Email</option>
  </select>
</div>
<div class=" flex  gap-2">
      <input  data-th-field="*{value}"  type="text" id="voice-search" class="bg-gray-50 w-max-w-sm border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-x-black-500 block   p-1.5  dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-l-black-500" placeholder="Search by" required />
  
      <button type="submit" name="submit" class="inline-flex items-center py-1.5 px-2 ms-2 text-sm font-medium text-black bg-black-700 rounded-lg border border-blue-700 ">
        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>Search
     </button>
  </div>
</form>



          <!--  profie card -->

        <div class ="w-full bg-white overflow-x-auto" >
          <table class="border-2 border-y-2 border-gray-600 table-fixed w-full "  >
            <thead class="bg-gray-800 w-full  text-white ">
                <tr >
                    <th class="py-4 px-4 w-auto">Name</th>
                    <th class="py-4 px-4">Email</th>
                    <th class="py-2 px-1">Phone</th>
                    <th class="py-2 px-1">Address</th>
                    <th class="py-2 px-1">Picture</th>
                    <th class="py-2 px-1">Description</th>
                    <th class="py-2 px-1">Favorite</th>
                    <th class="py-2 px-1">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr
                data-th-each="contact : ${contacts}"
               class="border-b  hover:bg-gray-100">
                    <td class="py-1 px-2" data-th-text="${contact.name}" >John Doe</td>
                    <td class="py-1 px-2" data-th-text="${contact.email}" >john@example.com</td>
                    <td class="py-2 px-2" data-th-text="${contact.phoneNumber}" >123-456-7890</td>
                    <td class="py-2 px-1" data-th-text="${contact.address}" >123 Main St, City</td>
                    <td class="py-2 px-1">
                        <img onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                        data-th-src="${contact.picture}"  alt="Profile" class="w-10 h-10 rounded-full">
                    </td>
                    <td class="py-2 px-1" data-th-text="${contact.description}" Lorem ipsum dolor sit amet, consectetur adipiscing elit.></td>
                    <td class="py-2 px-1 text-center" data-th-text="${contact.favorite}" >
                    </td>
                    <td> <a data-th-href="@{/contact/edit}" >Edit </a> <button data-th-onClick=(loadData([[${contact.cid}]]))>view </button>  <a data-th-href="@{/contact/delete}" >Delete </a> </td>
                </tr>
               
            </tbody>
        </table>
        <div>
        
  <div class="flex justify-center"> 
<nav aria-label="Page navigation example">
    <ul class="flex items-center pt-4 pb-5 -space-x-px h-10 text-sm">
      <li>
        <a 
        data-th-href="${currentPage > 0 ? '/contact/all?page=' + (currentPage - 1) : '#'}"
         class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
        </a>
      </li>
      <li data-th-each="index : ${#numbers.sequence(0,pages-1)}">
        <a 
        data-th-href="@{'/contact/all?page='+ ${index}}"
        href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" > <span data-th-text="${index+1}"> </span></a>
      </li>
      
      <li >
        <a 
           data-th-href="${currentPage < pages  ? '/contact/all?page=' + (currentPage + 1) : '#'}"
         class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Next</span>
          <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  

</div>
<div data-th-replace="~{user/modal ::modal }"> hello</div>


 
  

         
      </div>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script  data-th-src=@{/js/contacts.js}> </script>
  
</body>
</html>
