<!DOCTYPE html>

<html th:replace="~{base:: parent(~{::#about},~{::title})}"
class="dark">
    <head >

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" /> {% endcomment %}
        <style> 
        </style>
    </head>
    <body >
        <div id="about" > 
            <div class="flex justify-center items-center h-screen align-center"> 
        <section class="py-20 ">
            <div class="container mx-auto text-center">
              <h2 class="text-3xl  font-bold  animate__animated animate__fadeInUp" style="margin-bottom:100px">Services</h2>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                  <i class="fas fa-address-book text-blue-600 text-4xl mb-4"></i>
                  <h3 class="text-xl font-semibold mb-2">Easy Contact Management</h3>
                  <p class="text-gray-600">Add, edit, and organize your contacts in a user-friendly interface.</p>
                </div>
                <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                  <i class="fas fa-lock text-blue-600 text-4xl mb-4"></i>
                  <h3 class="text-xl font-semibold mb-2">Secure Storage</h3>
                  <p class="text-gray-600">Your data is protected with top-level encryption and security measures.</p>
                </div>
                <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                  <i class="fas fa-globe text-blue-600 text-4xl mb-4"></i>
                  <h3 class="text-xl font-semibold mb-2">24/7 Access</h3>
                  <p class="text-gray-600">Access your contacts anytime, anywhere from any device.</p>
                </div>
              </div>
          
          </section>
        </div>
</div>

        

        
</div>
        
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

    </body>
</html>