<!DOCTYPE html>

<html th:fragment="parent(content,title)"
class="dark"
lang="en"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title th:replace="${title}"></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

              <div className="flex h-screen">
             
          
              
                <div className="w-[70%] flex flex-col ml-56">
                
                  <div className="h-[30px] bg-blue-500 text-white flex items-center px-4">
                    <div th:if="${user}">
                        <div data-th-replace="~{user/userNavbar::user_navbar}">hello </div>
                        </div>
                        <div th:unless="${user}">
                            <div data-th-replace="~{header::navbar}"> </div>
                            
                        </div>
                  </div>
          
               
                  <div className="flex-1 bg-gray-200 p-4">
                    <div th:replace="${content}" ></div>

                </div>
                </div>
              </div>
  

          


       
     



  


        
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>