

<!DOCTYPE html>
<html>
    <head th:replace="~{base:: parent(~{::#two},~{::title})}">
       
        <title>service</title>
      
    </head>
    <body>

        <div id="two">
             <p> My name is Om Prakash Ganesh, and I am currently 
                studying at Mechi Multiple Campus in Bhadrapur, Jhapa.
                 I consider myself one of the most dedicated and hardworking students at Mechi Multiple Campus. If your company hires me, I will contribute my utmost efforts and innovative ideas to help the company excel in the competitive market and achieve a top position in the industry.
             </p>
             </div>

    
        
    </body>
</html> 